*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit
}

@font-face {
    font-family: Space;
    src: url(assets/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: Ailerons ;
    src: url(assets/Ailerons-Regular.otf);
}

@font-face {
    font-family: Moon;
    src: url(assets/Moon2.0-Regular.otf);
}

:root {
    --color-base: #EECDA3;
    --color-accent: #EF629F;
}

body {
    font-family: space, BlinkMacSystemFont, 'Segoe UI';
    height: 100vh;
    display: flex;
    color: white;
}

.left {
    width: 40vw;
    background: linear-gradient(var(--color-base), var(--color-accent));
    text-align: center;
    
}

a {
    text-decoration: none;
    color: black;
    transition-duration: 0.35s;
}

a:hover{
    text-decoration: none;
    color:aliceblue;
    transition-duration: 0.35s;
}

.container {
    font-family: ailerons, BlinkMacSystemFont, 'Segoe UI';
    background-color: #ffffff2f;
    border-left: black 4px solid;
    border-bottom: black 4px solid;
    border-radius: 30px;
    margin: 20vh 64px;   
    padding: 16px 0;
    transition-duration: 0.35s;
}

.container:hover {
    background-color: #0000003f;
    transition-duration: 0.35s;
}

.container p {
    font-size: 3.2rem;
    letter-spacing: 20px;
}

img {
    margin-right: 16px;
    height: 5rem;
}

.credits {
    position: absolute;
    margin-left: 20px;
    bottom: 10px;
}


.right {
    width: 60vw;
    background-color: #303030;
}

header {
    height: 25vh;
    font-size: 1.25rem;
    padding: 0 70px 0 30px;
    margin: 64px;
    line-height: 2rem;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 80px;
    padding: 20px 30px 45px;
}

legend {
    font-size: large;
}
label {
    position: relative;
    width: 300px;
    display: inline-block;
}

input {
    background-color: var(--color-base);
    position: absolute;
    top: 25px;
    width:300px;
}

button {
    font: inherit;
    font-weight: 700;
    background: var(--color-base);
    border: none;
    margin: 30px 30px 15px;
    padding: 15px;
    border-radius: 10px;
}

div > p {
    margin: 0 30px;
}
